html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    color: white;
    background: radial-gradient(200% 50% at 60% 5%, #5b00db 20%, #000 100%);
    background-attachment: fixed;
}

body {
    display: flex;
    flex-direction: column;
}


.navbar {
    background-color: #5b00db;
}

.card:hover {
    box-shadow: 0 0 30px #a3a3a3;
}

.card-title:hover {
    cursor: pointer;
    text-decoration:underline;
}